<nav class="grey darken-3">
    <div  class="nav-wrapper container">

        <a href="#!" class="brand-logo center">TV Taste</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/user">My Profile</a></li>
            <li><a href="/">Pick a Show!</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
        <a style="padding-top: 0; padding-bottom:0; position:absolute; top:0; right:0;" href="/reviews" id="signin">Check Reviews</a>      
        </div>
</nav>