<nav class="grey darken-3">
    <div  class="nav-wrapper container">

        <a href="#!" class="brand-logo center">TV Taste</a>
         <a style="padding-top: 0; padding-bottom:0; position:absolute; top:0; right:0;" href="/login" id="signin">Login</a>
        </div>
</nav>