<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About Us</title>

  <!-- Google Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Zen+Antique&family=Zen+Kurenaido&display=swap" rel="stylesheet">

  <!-- CSS StyleSheets-->
  <link rel="stylesheet" href="/css/AboutUs.css">

</head>

<body>
    {{{body}}}
</body>

</html>
