<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Support</title>

  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <!--CSS StyleSheets-->
  <link rel="stylesheet" href="/css/ContactForm.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>
