<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Safety & Tips</title>

  <!--CSS Stylesheets-->
  <link rel="stylesheet" href="/css/Safety&tips.css">

  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Festive&family=Lobster&family=Montserrat+Alternates:wght@300&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  {{{body}}}
</body>

</html>
