<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Subscription</title>

  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

    <!--CSS StyleSheets-->
    <link rel="stylesheet" href="/css/Subscription.css">
</head>

<body>
  {{{body}}}
</body>

</html>
