<form action="/log-in" method="POST">
    <h2>Login</h2>
    <div class="email">
    <input type="email" class="box" id="email" name="email" placeholder="Email" required />
    </div>
    <br>
    <div class="pass">
    <input type="password" class="box" id="password" name="paswword" placeholder="Password" required />
    <u><a style="color: rgb(82, 0, 82); font-weight: bold;" href="/Forgot-Password">Forgot Password?</a></u>
    </div>
    <br>
    <div class="submit">
    <input type="submit" value="Submit" id="submit" />
    </div>
    <br>
    <div class="signup">
     <u><a style="color: blue; font-weight: bold;" href="/SignUp">Sign Up</a></u> 
     </div>    
  </form>