<p>{{Name}}</p>
<section class="sub-title">
    <div class="wrapper">
  <h1>Profiles</h1>
  <h2>Browse through profiles of locals and decide who you want to send a message that is based on interests and other information listed there.</h2>
  <form action="/Logout" method="get"><button style="margin-left: 1200px; margin-top: 20px;">Log Out</button></form>
  </section>
  <div class="cols">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://th.bing.com/th/id/R.2991fc16b7dfcb7ebbb8c9abee5e92af?rik=cSYqD1zO2q4nUQ&riu=http%3a%2f%2frankerreview.com%2fwp-content%2fuploads%2f2014%2f10%2fengland.jpg&ehk=JVFim6NaCvyjlNfGnJEecgHkbTAYJLhGe%2b%2bXZFKTU3I%3d&risl=&pid=ImgRaw&r=0)">
						<div class="inner">
							<p>Michael Ford</p>
              <span>26 Years Old</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
						<button class="chat" onclick="window.location.href='/chats';">Chat</button>
						<button  onclick="window.location.href='/Posts';">Posts</button>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://faceagency.co.uk/images/uploads/models/large/1411556573-21.jpg)">
						<div class="inner">
							<p>Samantha Webb</p>
              <span>22 Years Old</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
						<button class="chat" onclick="window.location.href='/chats';">Chat</button>
						<button onclick="window.location.href='/Posts';">Posts</button>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://th.bing.com/th/id/OIP.DRtbg_WjPJswL6JA9M2tOwAAAA?pid=ImgDet&rs=1)">
						<div class="inner">
							<p>Richard Mills</p>
              <span>24 Years Old</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
						<button class="chat" onclick="window.location.href='/chats';">Chat</button>
						<button onclick="window.location.href='/Posts';">Posts</button>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://th.bing.com/th/id/R.23c522c3ee9a5ceee2d884208e92fa18?rik=yKGS%2bilhi8w8qQ&riu=http%3a%2f%2fi1.lisimg.com%2f8475570%2f280full.jpg&ehk=UBKEw8jfR5s86TmADywTMbiIyWa9MXfP6fb%2bIUrVn5Y%3d&risl=&pid=ImgRaw&r=0)">
						<div class="inner">
							<p>Cynthia Fields</p>
              <span>20 Years Old</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
						<button class="chat" onclick="window.location.href='/chats';">Chat</button>
						<button onclick="window.location.href='/Posts';">Posts</button>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://th.bing.com/th/id/OIP.czhYVgGJsqeGIsqIFwd7iAHaG6?pid=ImgDet&rs=1)">
						<div class="inner">
							<p>Alexander Gray</p>
              <span>27 Years Old</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
						<button class="chat" onclick="window.location.href='/chats';">Chat</button>
						<button onclick="window.location.href='/Posts';">Posts</button>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://th.bing.com/th/id/OIP.MT_w4Ljnv-RKOZWm-CFKpgHaHa?pid=ImgDet&rs=1)">
						<div class="inner">
							<p>Howard Warren</p>
              <span>25 Years Old</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
						<button class="chat" onclick="window.location.href='/chats';">Chat</button>
						<button onclick="window.location.href='/Posts';">Posts</button>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://th.bing.com/th/id/OIP.Pf2yvG2EfFlnRm8ReHA6lgHaG8?pid=ImgDet&rs=1)">
						<div class="inner">
							<p>Albert Morrison</p>
              <span>28 Years Old</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
						<button class="chat" onclick="window.location.href='/chats';">Chat</button>
						<button onclick="window.location.href='/Posts';">Posts</button>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://th.bing.com/th/id/OIP.oNX14FO5wBk82y4MoEazbwAAAA?pid=ImgDet&rs=1)">
						<div class="inner">
							<p>Laura Rogers</p>
              <span>21 Years Old</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
						<button class="chat" onclick="window.location.href='/chats';">Chat</button>
						<button onclick="window.location.href='/Posts';">Posts</button>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://th.bing.com/th/id/R.1d890136eef04500ad5bdf54a69189ac?rik=JkIE87FBzo1ukA&pid=ImgRaw&r=0)">
						<div class="inner">
							<p>Christina Wong</p>
              <span>26 Years Old</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
						<button class="chat" onclick="window.location.href='/chats';">Chat</button>
						<button onclick="window.location.href='/Posts';">Posts</button>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://i.mdel.net/i/db/2015/6/390390/390390-200w.jpg)">
						<div class="inner">
							<p>Laura Cole</p>
              <span>24 Years Old</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
						<button class="chat" onclick="window.location.href='/chats';">Chat</button>
						<button onclick="window.location.href='/Posts';">Posts</button>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://th.bing.com/th/id/OIP.y16R6guNniBth4Iq6jHW3QAAAA?pid=ImgDet&w=280&h=280&rs=1)">
						<div class="inner">
							<p>Bryan Jackson</p>
              <span>23 Years Old</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
						<button class="chat" onclick="window.location.href='/chats';">Chat</button>
						<button onclick="window.location.href='/Posts';">Posts</button>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://th.bing.com/th/id/OIP.Tz9JJCsmhcAnjiLw6u8xnAAAAA?pid=ImgDet&rs=1)">
						<div class="inner">
							<p>Walter Silva</p>
              <span>29 Years Old</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
						<button class="chat"onclick="window.location.href='/chats';">Chat</button>
						<button onclick="window.location.href='/Posts';">Posts</button>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://i.pinimg.com/474x/4e/95/94/4e9594bb0b86484a0a494e72979f40e0.jpg)">
						<div class="inner">
							<p>Jason Delgado</p>
              <span>22 Years Old</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
						<button class="chat" onclick="window.location.href='/chats';">Chat</button>
						<button onclick="window.location.href='/Posts';">Posts</button>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://qph.fs.quoracdn.net/main-qimg-1d8895fb8fbfed5d56a90acebca8112c)">
						<div class="inner">
							<p>Olivia Banks</p>
              <span>22 Years Old</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
						<button class="chat" onclick="window.location.href='/chats';">Chat</button>
						<button onclick="window.location.href='/Posts';">Posts</button>
					</div>
				</div>
			</div>
		</div>
 </div>


    <script src="/script/Profiles.js" charset="utf-8"></script>