<div class="container">

  <div class="card">
    <div class="face face1">
      <div class="content">
        <h1 class="basic">Free</h1>
        <ul class="basic">
          <li>Match,Chat,Meet</li>
        </ul>
        <br>
        <h3 class="basic"><a href="/Login">Create An Account only</a></h3>
      </div>
    </div>
    <div class="face face2">
      <h2>Basic</h2>
    </div>
  </div>

  <div class="card">
    <div class="face face1">
      <div class="content">
        <h1 class="Standard">12.00$</h1>
        <ul class="Standard">
          <li>Match,Chat,Meet</li>
          <li>Unlimited Likes</li>
          <li>Unlimited Rewinds</li>
        </ul>
        <br>
        <button onclick="redirect();">Buy Now</button>
      </div>
    </div>
    <div class="face face2">
      <h2>Standard</h2>
    </div>
  </div>

  <div class="card">
    <div class="face face1">
      <div class="content">
        <h1 class="Premium">20.00$</h1>
        <ul class="Premium">
          <li>Match,Chat,Meet</li>
          <li>Unlimited Likes</li>
          <li>Unlimited Rewinds</li>
          <li>See Who Likes You</li>
          <li>1 Free Boost a Month</li>
        </ul>
        <button onclick="redirect();">Buy Now</button>
      </div>
    </div>
    <div class="face face2">
      <h2>Premium</h2>
    </div>
  </div>
</div>

<script src="/script/Subscription.js" charset="utf-8"></script>
